
body{
    overflow-x: hidden;
}

a{
    text-decoration: none !important;
}

.chakra-ui-light{
    background-color: #f2f2f2 !important;
}

.chakra-ui-dark{
    background-color: #0d0d0d !important;
    /* background-color: #090613 !important; */
}

::-webkit-scrollbar-thumb {
   border: 1px solid rgba(255,255,255,0.3);
   background-color: #091613;
   border-radius: 40px;
}

::-webkit-scrollbar{
    width: 10px;
}

