

body{
    overflow-x: hidden;
}


a{
    text-decoration: none !important;
}

.chakra-ui-light{
    background-color: #E4E8F1 !important;
}

.Collapsed{
    width: 60px;
    border-radius: 30px;
}

.CollapsedBut{
margin-bottom: 10px;
}

.CollapsedGrid{
    grid-template-columns: 60px 1fr !important;
}

/* .chakra-ui-dark{
    background-color: #0f1f1f !important;
    background-color: #090613 !important;
} */

::-webkit-scrollbar-thumb {
   border: 1px solid rgba(255,255,255,0.3);
   background-color: #091613;
   border-radius: 40px;
}

::-webkit-scrollbar{
    width: 10px;
}

/* .plyr--video{
    width: 60%;
    margin: 60px;
} */

.player-watch{
    width: 60%;
    margin: 60px;
}